@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
	font-family: "Open Sans", sans-serif;
}
.credits {
	text-align: right;
	padding-right: 20px;
	width: 100%;
	/* background-color: red; */
}
.pages {
	width: 100%;
	min-height: 90vh;
}
.credits a {
	color: grey;
}
.pages-wrapper {
	display: flex;
	/* background-color: red; */
}
.settingsbtn {
	position: absolute;
}
