.homepage {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 90vh;
	align-items: center;
	/* background-color: red; */
}
.main-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
	animation-name: rainbow-flicker;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@media only screen and (min-width: 600px) {
	.heading {
		font-size: 40px;
	}
}
@keyframes rainbow-flicker {
	0% {
		background-image: linear-gradient(
			to left,
			white,
			green,
			yellow,
			magenta,
			orange,
			red
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	25% {
		background-image: linear-gradient(
			to left,
			orange,
			red,
			white,
			green,
			yellow,
			magenta
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	50% {
		background-image: linear-gradient(
			to left,
			yellow,
			green,
			magenta,
			orange,
			red,
			white
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	100% {
		background-image: linear-gradient(
			to left,
			green,
			yellow,
			magenta,
			white,
			orange,
			red
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
