.keyboard {
	/* background-color: green; */
	display: flex;
	flex-direction: row;
}
.btn {
	border: 1px solid grey;
	padding: 6px;
	border-radius: 5px;
	font-size: larger;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33px;
}
